@import 'src/styles/breakpoints';

.wrapper {
  position: relative;
}

.select {
  height: 48px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  border: none !important;
  border-radius: 8px;
  background-color: #151A24 !important;
  color: #fff !important;
  padding: 0 10px 0 14px;
  
  input {
    opacity: 0;
  }

  &.invalid {
    border: 1px solid #FFA127 !important;
  }

  &:focus {
    outline: none;
  }

  @include media("tablet", "laptop", "desktop") {
    height: 49px;
  }
}

.option {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  column-gap: 6px;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.3px;
  color: #fff;
}

.icon {
  width: 26px;
  height: 19px;
  border-radius: 3px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.dropdown {
  svg {
    path {
      fill: #A0A6B6;
    }
  }
}

.react_select {
  [class$="-menu"]{
    background-color: #373E4A !important;
    .option{
      background-color: #373E4A;
    }
    [class$="-MenuList"]{
      max-height: 250px;
    }    
  }

  [class$="-placeholder"]{
     color: #A0A6B6;
  }

  .value_container {
    padding-left: 0;
    text-align: left;
  }
}
