@import "src/styles/variables.scss";
@import "src/styles/breakpoints.scss";

.steps {
  display: flex;
  justify-content: center;

  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 104px;
    width: 100%;
    row-gap: 6px;

    @include media("tablet", "laptop", "desktop") {
      max-width: 170px;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      box-sizing: border-box;
      width: 48px;
      height: 48px;
      background: #0D0901;
      box-shadow: 0px 2px 18px rgba(255, 196, 46, 0.6);
      border-radius: 50%;

      @include media("tablet", "laptop", "desktop") {
        padding: 14px;
        width: 60px;
        height: 60px;
      }
    }

    .text {
      font-family: 'Inter';
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: #FFFFFF;

      @include media("tablet", "laptop", "desktop") {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
}