@import "src/styles/variables.scss";
@import "src/styles/breakpoints.scss";

.footer {
  background-color: #000;
  position: relative;

  @include media("tablet", "laptop", "desktop") {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .top {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 100%;
    grid-template-areas: 'ps'
                         'logo'
                         'socials';
    row-gap: 24px;
    align-items: center;
    justify-content: space-between;
    padding: 24px 16px 8px;
    box-sizing: border-box;
    max-width: 1200px;
    margin: auto;
    text-align: center;

    @include media("tablet", "laptop", "desktop") {
      grid-template-rows: 100%;
      grid-template-columns: repeat(3, max-content);
      grid-template-areas: 'logo ps socials';
      padding: 16px 0;
      flex-direction: row;
      border-bottom: 1px solid rgba(255, 255, 255, 0.16);
    }

    .logo {
      grid-area: logo;
      svg {
        width: 82px;
      }
    }
  }
}

.paymentSystems {
  grid-area: ps;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 26px;

  @include media("mobile") {
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  }

  @include media("laptop", "desktop") {
    column-gap: 60px;
  }
}

.socials {
  grid-area: socials;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;

  a {
    transition: .3s;

    &:hover {
      opacity: .7;
    }
  }
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;

  @include media("tablet", "laptop", "desktop") {
    display: none;
  }
}
.text {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}

.link {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: 1px solid;
}

.copyright {
  color: rgba(255, 255, 255, 0.50);
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 400;
  padding: 16px 16px 46px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media("tablet", "laptop", "desktop") {
    padding: 16px;
  }
}